@use "_variables.sass" as variables
.projects-container
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  gap: 28px
  .projects__title
    font-weight: bold
    background-color: variables.$bg-secondary
    color: variables.$font-primary-color
    padding: 20px 20px
    border-radius: 10px
    font-size: variables.$h2-size
  p
    font-size: variables.$p-size
    line-height: 1.5
    color: variables.$bg-secondary
