---
import StackIcon from "tech-stack-icons";
---

<footer>
    <span>@2025</span> 
    <div></div>
    <p>Coded with ❤️ by Argenis Medina using Astro </p>
    <StackIcon name="astro" variant="dark" style={{ maxWidth: '24px', height: '24px' }} />
</footer>


<style lang="sass">
  @use '../../styles/_variables.sass'
  footer
    display: flex
    align-items: center
    justify-content: center
    height: 60px
    padding: 20px
    font-size: 16px
    gap: 8px
    border-radius: 20px
    margin-block-start: 20px
    @media screen and (max-width: 768px) 
      position: fixed
      bottom: 0
      left: 0
      right: 0
      font-size: 10px

    span, p
      margin: 0
      padding: 5px 0
      font-weight: 500
    div
      height: 20px
      border: solid 1px variables.$bg-secondary
      background-color: #dee2e6
</style>