---
import Aside from "./Aside.astro";
import Nav from "./Nav.astro";
import "../../styles/global.sass";
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div class="container">
    <main>
      <slot />
    </main>
    <Aside>
      <Nav />
    </Aside>
    </div>
    <Footer />
  </body>
</html>

