---
import CvButton from "../CvButton.astro"
---

<nav>
  <ul>
    <li><a href="#intro-section" class="active">About</a></li>
    <li><a href="#studies-section">Studies</a></li>
    <li><a href="#skills-section">Skills</a></li>
    <li><a href="#project-section">Projects</a></li>
    <li><a href="#contact-section">Contact</a></li>
  </ul>
  <div class="divider"></div>
  <CvButton />

  
</nav>

<script>
  document.querySelectorAll("nav ul li a").forEach((link) => {
    link.addEventListener("click", () => {
      document
        .querySelectorAll("nav ul li a")
        .forEach((a) => a.classList.remove("active"));
      link.classList.add("active");
    });
  });
</script>

<style lang="sass">
  @use '../../styles/_variables.sass'
  nav
    width: 100%
    display: flex
    flex-direction: column
    flex: 1
    align-items: center
    padding: 5px 20px 40px
    gap: 20px
    font-size: variables.$p-size
    ul
      display: flex
      flex: 1
      flex-direction: column
      gap: 36px
      li
        list-style: none
        a
          display: block
          min-width: 100px
          text-decoration: none
          text-align: center
          font-weight: bold
          color: inherit
          padding: 15px 20px
          border-radius: 10px
          transition: background-color 0.8s
          &:hover
            background-color: variables.$bg-secondary
            color: variables.$font-primary-color
            transition: background-color 0.8s ease
          &.active
            background-color: variables.$bg-secondary
            color: variables.$font-primary-color
    
</style>
