---
const { iconUrl, iconAlt, text } = Astro.props;
---

<div class="contact-item__container">
  <img src={iconUrl} alt={iconAlt} />

  <p id="contact-value">{text}</p>

  <img id="copy-button" src="/copy.svg" alt="copy icon" />
</div>

<style lang="sass">
  .contact-item__container
    display: flex
    align-items: center
    justify-content: space-between
    gap: 12px
    padding: 8px 12px
    text-align: center
    img
      width: 24px
      height: 24px
      will-change: transform
      transform-origin: center
      transition: transform 0.3s ease, opacity 0.3s ease
      &:hover
        cursor: pointer
        opacity: 0.8
        transform: scale(1.1)
        transition: transform 0.3s ease, opacity 0.3s ease
    p
      flex-grow: 1
      margin: 0 12px
      font-size: 30px
      font-weight: 600
</style>

<script type="module">
  const btn = document.getElementById("copy-button");
  btn.addEventListener("click", () => {
    const data = document.getElementById("contact-value").textContent;
    navigator.clipboard(data);
  });
</script>
